[2020-05-08 11:51] irshadjsr21 opened #1 "Create feed page as in `landingPage` repo"
Create a feed page same as [this one](https://opensoucecode.github.io/LandingPage/html/feed-final.html)

[2020-05-08 11:53] irshadjsr21 opened #2 "Create settings page as in `landingPage` repo"
Create settings page the same as [this one](https://opensoucecode.github.io/LandingPage/html/settings.html).

[2020-05-08 11:54] irshadjsr21 opened #3 "Create organization page as in `landingPage` repo"
Create the organization page, same as [this one](https://opensoucecode.github.io/LandingPage/html/org.html).

[2020-05-08 12:07] nandanasreeraj123 commented on #2
I can work on this

[2020-05-08 12:25] irshadjsr21 commented on #2
Sure, go ahead.

[2020-05-08 13:03] alizahir23 commented on #3
Ill work on this page.

[2020-05-08 13:56] irshadjsr21 commented on #3
Go ahead.

[2020-05-08 17:19] irshadjsr21 opened #4 "Change style.css from global to module level"
Change `style.css` file from global to module level to be only used for index page to avoid conflict in names.

[2020-05-08 18:20] alizahir23 commented on #4
Would like to resolve this issue

[2020-05-08 21:45] #4 closed

[2020-05-08 21:54] irshadjsr21 opened #6 "Add header & footer css classes to style.css file"
The PR #5 removed header & footer CSS. Add the CSS classes for header & footer to the global `style.css` file.

[2020-05-08 22:02] alizahir23 opened #7 "Adding font link to global css."
The font is not yet added to the project.

[2020-05-08 22:03] alizahir23 commented on #6
The designs for the footer and header are in. Create an issue for the header as well and will update the files.

[2020-05-08 22:04] irshadjsr21 commented on #7
Do you mean google fonts? It's added here.

https://github.com/OpenSouceCode/website/blob/418987e76d566dcc383c3a87101280d8e91e4223/pages/_app.jsx#L11

[2020-05-08 22:05] irshadjsr21 commented on #6
Ok, add both the component css on this issue.

[2020-05-08 22:09] alizahir23 commented on #6
Ok, will work on this issue tonight.

[2020-05-08 23:21] alizahir23 commented on #7
anshul had suggested to shift to a new font family, however it isnt available on web.

[2020-05-08 23:21] #7 closed

[2020-05-09 22:13] alizahir23 opened #9 "Would like to add user state context."

[2020-05-10 06:54] aryasoni98 opened #10 "Google and Github Login Oauth system using firebase"

[2020-05-10 13:00] #10 closed

[2020-05-11 10:39] irshadjsr21 opened #13 "Add responsiveness and header to profilepage"
Make profile page responsive and add the header component.
Also, resolve errors appearing in the console (In profile box component change `class` attribute to `className`).

[2020-05-11 10:43] irshadjsr21 opened #14 "Add responsiveness to organization page and resolve errors"
Add responsiveness to the organization page and resolve errors regarding `unique key` in the console window.

[2020-05-11 10:45] #3 closed

[2020-05-11 12:28] alizahir23 commented on #14
Will work on it.

[2020-05-11 13:30] #9 closed

[2020-05-11 14:53] nandanasreeraj123 commented on #1
I will code it

[2020-05-11 21:52] #14 closed

[2020-05-13 11:09] #1 closed

[2020-05-14 05:36] alizahir23 opened #20 "Make use of the landing container in Feed page."
the feed page currently doesn't make use of the landing container component. would like to add that.

[2020-05-15 14:04] irshadjsr21 opened #25 "Add login/signup functionality"
Create the UI for login/signup and implement it using firebase.

[2020-05-17 09:16] #13 closed

[2020-05-18 11:09] snitin315 opened #29 "Proposal: Integrate vercel for master & PR deployment"
We should integrate vercel for deployment, most of the Frontend repositories use it and it's really helpful for PR deployment previews.

[2020-05-18 11:13] snitin315 opened #30 "Create Issue templates"
We need to create separate issue templates for -

- Bug report
- Feature Request

I am willing to work on this.

[2020-05-18 11:14] irshadjsr21 commented on #30
Sure, go ahead.

[2020-05-18 11:26] snitin315 opened #31 "integrate pre-commit hooks"
We are already using ESlint, we should use `lint-staged` & `husky` as well.

[2020-05-18 11:37] snitin315 opened #33 "rename test scripts to lint in package.json"
The purpose of the command is actually linting, it's better to name it lint so users will run `npm run lint` and not `npm run test`.

https://github.com/OpenSouceCode/Frontend/blob/ae872add2b20bfeac4a3e0cf18dc60eb17b94d83/package.json#L11

I will work on this.

[2020-05-18 11:50] #33 closed

[2020-05-18 12:58] #30 closed

[2020-05-19 12:13] #31 closed

[2020-05-19 12:52] anushbhatia opened #41 "Integration of Vercel,Prettier and Eslint"
we should integrate vercel, prettier and eslint for deployment as its one of the important feature used nowadays.

[2020-05-19 12:54] snitin315 commented on #41
Vercel and eslint are done, prettier is still to be integrated

[2020-05-19 12:54] irshadjsr21 commented on #41
Nice thought but it's already integrated.

[2020-05-19 13:04] anushbhatia commented on #25
Can I work on it

[2020-05-19 13:58] #29 closed

[2020-05-19 16:08] vipulsnp opened #42 "Redesign Landing Page"

[2020-05-19 19:03] irshadjsr21 opened #44 "Fix issue templates"
The issue template added in PR #35 is not working.

**Note**: Try renaming the `ISSUE_TEMPLATES` directory to `ISSUE_TEMPLATE`

[2020-05-19 19:08] #2 closed

[2020-05-19 19:17] irshadjsr21 commented on #41
Sorry I was assuming prettier is already there.

[2020-05-19 21:50] irshadjsr21 opened #47 "Add support for sass and change existing css to scss."
**Description**
Using sass will provide features like variables, mixins and etc which will be very useful in development.

[2020-05-19 22:11] irshadjsr21 opened #48 "Fix responsiveness of feed page"
**Description**
The current feed page is not very well displayed on mobile.

**Needs urgent fix**

[2020-05-19 22:13] irshadjsr21 opened #49 "Fix responsiveness of organizations page"
**Description**
The current organization page is not very well displayed on mobile.

**Needs urgent fix**

[2020-05-19 22:15] irshadjsr21 opened #50 "Fix responsiveness of profile page"
**Description**
The current profile page is not very well displayed on mobile.

**Needs urgent fix**

[2020-05-19 22:16] irshadjsr21 opened #51 "Fix responsiveness of settings page"
**Description**
The current settings page is not very well displayed on mobile.

**Needs urgent fix**

[2020-05-20 01:42] snitin315 commented on #44
This is my bad, thanks for pointing out. I will send a fix.

[2020-05-20 02:04] snitin315 opened #53 "Use a design stsyem"
The need for Design Systems goes hand in hand with the need for scale, efficiency, and consistency in Design.
Design Systems provides a shared library of reusable components and guidelines. Building products becomes much faster.

We can use some famous prebuilt systems like -

## [Material UI](https://material-ui.com/)
## [Ant Design](https://ant.design/)

Or we can create one with -

## [Styled C

[2020-05-20 02:24] snitin315 commented on #44
works well now.

![Screenshot at 2020-05-20 07-54-12](https://user-images.githubusercontent.com/46647141/82397909-26ba1c80-9a6f-11ea-9059-acf997b68f5f.png)

[2020-05-20 02:45] #41 closed

[2020-05-20 02:46] #44 closed

[2020-05-20 10:34] alizahir23 commented on #51
will work on this

[2020-05-20 10:48] alizahir23 commented on #50
will work on this

[2020-05-20 10:51] vipulsnp commented on #49
Will work on this

[2020-05-20 17:16] #42 closed

[2020-05-21 04:05] alizahir23 commented on #25
next already provides automatic routing. So react-router is not required.
https://nextjs.org/docs/routing/introduction

[2020-05-21 14:49] irshadjsr21 opened #57 "Unnecessary usage of `eslint-disable` in `modal.jsx`"
**Description**
- The eslint react props are disabled in `src/components/modal.jsx`. Use prop types in the component and remove all `eslint-disable` comments.
- Also `<img>` tag should not be made clickable, instead, it should be wrapped in a button.

[2020-05-21 14:50] irshadjsr21 opened #58 "Unnecessary usage of `eslint-disable` in `organisation.jsx`"
**Description**
- The eslint react props are disabled in `src/components/organisation.jsx`. Use prop types in the component and remove all `eslint-disable` comments.
- Also `<img>` tag should not be made clickable, instead, it should be wrapped in a button.

[2020-05-21 15:32] anushbhatia commented on #25
okay

[2020-05-21 16:25] vipulsnp commented on #57
This is handled alongside Issue #49  in PR #56 @irshadjsr21

[2020-05-21 16:31] vipulsnp commented on #58
Will work on this.

[2020-05-21 16:38] #57 closed

[2020-05-21 16:39] #49 closed

[2020-05-21 16:39] #51 closed

[2020-05-21 16:41] irshadjsr21 commented on #58
@vipulsnp Sure, but can you first work on #48? It's a bit urgent we fix the responsiveness issues.

[2020-05-21 16:51] vipulsnp commented on #48
Will work on this @irshadjsr21

[2020-05-22 11:08] #50 closed

[2020-05-22 15:55] #58 closed

[2020-05-22 15:56] #48 closed

[2020-05-23 02:11] alizahir23 commented on #25
what exactly has to be done in this feature?

[2020-05-23 05:02] jmdmacapagal commented on #25
do you have a UI for this?

[2020-05-24 16:36] #6 closed

[2020-05-25 00:29] #20 closed

[2020-05-25 01:13] alizahir23 opened #65 "Feed page is not responsive."
**Describe the bug**

The feed page's responsive media queries doesn't kick in when its required to.

**Screenshots**

<img width="852" alt="Screenshot 2020-05-25 at 6 41 17 AM" src="https://user-images.githubusercontent.com/58049391/82769642-129d6300-9e53-11ea-8ec7-83773d2c482f.png">

[2020-05-25 07:48] vipulsnp commented on #65
Provide full details of the bug.
Steps to reproduce , dimensions where this occurs, device, and other relevant information. @alizahir23

[2020-05-26 13:30] #65 closed

[2020-05-28 10:36] vipulsnp opened #69 "Redesign Footer"

[2020-05-29 09:44] #69 closed

[2020-05-29 18:12] vipulsnp opened #76 "Make Top Lang Page Responsive"

[2020-05-29 18:23] vipulsnp opened #78 "Top Org Page is Not Responsive"
**Describe the bug**

Top Org Page is not suitable to be viewed on small screen devices.

[2020-05-30 06:45] #76 closed

[2020-05-30 09:47] #78 closed

[2020-05-31 07:32] vipulsnp opened #81 "OSP page is not responsive"
![image](https://user-images.githubusercontent.com/41316371/83346976-fe6bd100-a33e-11ea-8024-d4c682f1cdd5.png)

[2020-05-31 12:54] #81 closed

[2020-06-01 10:13] #25 closed

[2020-06-01 10:27] irshadjsr21 opened #84 "Default user in context should be null"
**Describe the bug**
The default user is set to `Guest` in `_app.jsx` file.
https://github.com/OpenSouceCode/Frontend/blob/0af390d0e49f046603246600ee5113090a853510/pages/_app.jsx#L10

**Expected behavior**
It should be set to `null` to denote that the user hasn't logged in.
Use state should be: `useState(null)`

[2020-06-01 10:31] irshadjsr21 opened #85 "Typo in Bug Issue template"
**Describe the bug**
The bug issue template has a typo `behaviour` on line `18` in file `.github/ISSUE_TEMPLATE/Bug_Report.md`.

It should be `behavior`.

[2020-06-01 10:34] snitin315 commented on #85
Actually both the spellings are correct just like `color` and `colour`

[2020-06-01 10:34] irshadjsr21 opened #86 "Add route guards"
**Description**
Add route guard to all the pages except the home page, so that only the logged-in user can visit those pages.

When a user who hasn't logged-in visits one of the protected routes, they should be redirected to the home page.

[2020-06-01 10:40] irshadjsr21 commented on #85
Oh, then it's up to our preference. Let's keep it as it is.

[2020-06-01 10:40] #85 closed

[2020-06-01 11:09] irshadjsr21 opened #87 "Retain logged in user on page reload."
**Description**
The user login data should be retained even when the page reloads.

[2020-06-01 11:19] vipulsnp commented on #84
Working on it

[2020-06-01 12:03] #84 closed

[2020-06-01 12:14] irshadjsr21 opened #89 "Integrate forms in setting page with firebase"
**Description**
The settings page currently have non-working forms for changing user profile.
Make those forms working by integrating firebase and changing the data.

[2020-06-01 17:39] vipulsnp opened #90 "Previously defined Proptypes are Incorrect"
**Describe the bug**

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to organisations page
2. Open Inspect element
3. See error

**Expected behaviour**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 -

[2020-06-01 18:40] #90 closed

[2020-06-04 12:15] vipulsnp commented on #89
@irshadjsr21 I think this should be done using backend and database .

[2020-06-04 13:09] irshadjsr21 commented on #89
We'll be using firebase as our backend. The data will be stored with the user modal in the firebase.

[2020-06-04 14:56] #86 closed

[2020-06-04 14:56] #87 closed

[2020-06-04 14:56] #47 closed

[2020-06-05 05:34] alizahir23 opened #97 "Fix the image on the landing page."
![image](https://user-images.githubusercontent.com/58049391/83840438-2fbc1680-a71c-11ea-9345-ed0efb7b8e79.png)
The image is too small and taking up too much space.

[2020-06-07 08:15] vipulsnp opened #98 "Add Error handling during authentication"
**Is your feature request related to a problem? Please describe.**
Errors during Login/signup

**Describe the solution you'd like**
Add error messages popup during login/signup.

**Describe alternatives you've considered**

**Additional context**

[2020-06-07 14:45] alizahir23 opened #99 "Integrating the toporg and topplang page after a user signs for the first time."

[2020-06-07 14:46] alizahir23 commented on #99
will be working on this.

[2020-06-08 10:06] takshch commented on #97
I will fix this issue. I am new. Please guide me.

[2020-06-08 10:11] irshadjsr21 commented on #97
@takshch Sure, go-ahead. You can look at the Readme file for details on how to contribute.

[2020-06-08 15:11] alizahir23 opened #105 "Linking profile page with the firebase backend"

[2020-06-08 15:11] alizahir23 commented on #105
I will be working on this issue

[2020-06-08 16:06] vipulsnp opened #106 "Add global notifications"
Add global notifications for error handling.

[2020-06-08 20:14] #106 closed

[2020-06-09 08:22] vipulsnp commented on #97
@irshadjsr21  This issue is resolved.

[2020-06-09 08:59] #97 closed

[2020-06-09 09:08] irshadjsr21 opened #108 "Memory leak in ToTop component"
**Description**
There is a memory leak in `ToTop` component.

A scroll event listener is added when the component is mounted via `useEffect`.
This event listener triggers the function `checkScrollTop`. This event triggers the function even when the component `ToTop` is removed.

**Solution**
Remove the event listener when the component is unmounted.
Check [this](https://reactjs.org/docs/hooks-effe

[2020-06-09 09:31] alizahir23 commented on #108
can I take up this issue and solve it along with the profile page?

[2020-06-09 10:08] irshadjsr21 commented on #108
Go ahead.

[2020-06-09 14:17] #98 closed

[2020-06-09 16:30] vipulsnp commented on #89
@irshadjsr21 This issue has been resolved.

[2020-06-09 17:54] #89 closed

[2020-06-09 17:59] #99 closed

[2020-06-10 10:44] irshadjsr21 opened #112 "Add validation to settings page forms."
**Description**
Currently, there is no check on the input fields in the settings page form. Add validation to ensure the data is valid.

[2020-06-10 11:21] vipulsnp commented on #112
What data needs to be validated there?

[2020-06-10 11:21] vipulsnp commented on #112
There is validation on email field, website field and linkedin input field.

[2020-06-10 11:50] vipulsnp commented on #112
I will work on this.

[2020-06-10 13:30] irshadjsr21 opened #113 "`newUser` undefined error while login"
**Describe**
This is the error occuring while login/signup.
Tested in firefox (Ubuntu)
![image](https://user-images.githubusercontent.com/40335357/84273380-3992af00-ab4c-11ea-9e8e-380aa4a59361.png)

[2020-06-10 15:37] irshadjsr21 opened #114 "Loading screen while checking login status."
**Description**
Currently when a logged-in user enters the home page, the home page is displayed for a sec and then the user is redirected to the `feed` page.

Add loading screen when the user is being checked for login status.

[2020-06-11 19:46] #108 closed

[2020-06-11 19:46] #105 closed

[2020-06-12 21:24] irshadjsr21 opened #116 "Website link is not displayed on user profile page"

[2020-06-13 13:56] alizahir23 commented on #116
will work on this issue

[2020-06-14 14:45] #112 closed

[2020-06-14 14:46] irshadjsr21 opened #119 "Adding loading screen on settings page."
**Description**
When the user data is being fetched from firebase, there should a loading screen. The page loader component is already created, you have to reuse it.

[2020-06-15 20:52] takshch opened #121 ""an unexpected error occurred" on profile page."
I opened profile in Firefox and i  am getting error : "an unexpected error occurred".

Console:
 TypeError: "f.followingLanguages is undefined"
    NextJS 15

Screenshort:
![error-openSouceCode_profile](https://user-images.githubusercontent.com/26649558/84704907-321e3c00-af78-11ea-9d3f-53b36f78f616.png)

[2020-06-16 08:42] vipulsnp commented on #121
Will resolve this one.

[2020-06-16 08:51] vipulsnp commented on #119
@irshadjsr21 This issue is resolved.

[2020-06-16 09:46] #119 closed

[2020-06-16 10:07] #121 closed

[2020-06-16 19:48] dev2919 commented on #116
How can i reproduce this bug?

[2020-06-16 22:51] alizahir23 commented on #116
- Go to /settings
- Add your website to my website field in socials tab.
- Once you go to my profile now, it will not be shown

[2020-06-17 15:46] vipulsnp opened #123 "Bugs"
**Describe the bug**

1. Loading spinner persistent in Header
2. Loading Spinner does not work when logged in user is being checked.
3. Profile Image is not shown in Header
4. Menu Items don't work in mobile devices.

[2020-06-18 16:09] #116 closed

[2020-06-18 16:09] #114 closed

[2020-06-19 07:24] Ashmn07 opened #125 "Allow the user to add experience level"
**Is your feature request related to a problem? Please describe.**

When the user is given projects to choose after choosing orgs and language, they might not get the projects they want like beginners might get slightly complex projects which might discourage them from continuing.

**Describe the solution you'd like**

We can ask the user to add their experience level(Beginner, Experienced) so tha

[2020-06-19 18:10] vipulsnp opened #126 "Remove duplicate tags in Skill list"

[2020-06-19 18:56] #126 closed

[2020-06-22 11:52] eshaan007 opened #129 "Insertion of Favicon"
The Website when in the Tabs, Looks plain.
The favicon logo of OSC should be inserted. I found the "logo" in 'public ->logo -> favicon_logo' .

[2020-06-22 11:56] eshaan007 commented on #129
So can I take up this issue @irshadjsr21 ?

[2020-06-22 12:11] irshadjsr21 commented on #129
Sure, go ahead. @eshaan007

[2020-06-22 13:12] vipulsnp opened #130 "Create OSP page not found"
**Describe the bug**

**To Reproduce**

Steps to reproduce the behaviour:
1. Login
2. Click on 'profile'
3. Click on 'Create OSP'
4. Page is not found

**Expected behaviour**
Page component is already made and hence should be visible

[2020-06-22 13:23] vipulsnp opened #132 "Skill list in create OSP page is displayed incorrectly"
**Bug**
Form spacing changes with the skill list.
**Expected Behavior**
Form spacing should not change with the skill list.

[2020-06-22 13:50] irshadjsr21 commented on #132
Please add screenshots to clearly display the bug.

[2020-06-22 13:58] vipulsnp commented on #132
**Initial State**
![image](https://user-images.githubusercontent.com/41316371/85295965-51f4b900-b4be-11ea-89ef-45a47af5db65.png)
**After adding skills**
![image](https://user-images.githubusercontent.com/41316371/85296074-75b7ff00-b4be-11ea-9b59-1d51657421dc.png)

The spacing between the two columns should remain same.

[2020-06-23 15:44] irshadjsr21 opened #133 "Add firebase access rules"
**Description**
Add firebase rules so that the user can access only the content they are supposed to access.

[2020-06-23 15:45] irshadjsr21 opened #134 "Add firebase validation rules"
**Description**
Add firebase validation rules so the only valid content is stored in firebase.

[2020-06-23 15:46] #130 closed

[2020-06-23 16:05] vipulsnp commented on #133
Users can only access their data currently.

[2020-06-23 16:20] irshadjsr21 commented on #133
There isn't any rule in the firebase to prevent a user from accessing other user's data.

[2020-06-23 16:41] eshaan007 commented on #129
I have solved the Issue.. I have sent in a PR. Please check it !

[2020-06-23 19:44] vipulsnp opened #137 "Settings Page Initial Login"
On initial login `When the user signs in for first time` , The fields (firstname, username) are blank in `settings page` which are `required` but the user can submit the form if he doesn't change those. The submit button should be disabled until these fields have values.

[2020-06-24 06:44] #129 closed

[2020-06-24 07:19] irshadjsr21 opened #139 "Profile image is not being displayed on the header"
![image](https://user-images.githubusercontent.com/40335357/85513906-1a4e5400-b619-11ea-8f72-9d84f99c65b6.png)

[2020-06-24 11:46] vipulsnp opened #140 "User experience on Initial login/signup"
**Is your feature request related to a problem? Please describe.**
On `first time login/signup` after the user selects the organisations and languages , he must be redirected to a page where he can add `username` and then to the feed page.

[2020-06-24 11:46] vipulsnp commented on #139
Can't reproduce.

[2020-06-24 13:10] vipulsnp opened #141 "Implement white space check in form validation"
**To Reproduce**
Type only whitespace in fields marked as required.
The submit button gets activated.
**Expected behaviour**
Submit button should not be activated until valid entry.

[2020-06-24 22:14] #137 closed

[2020-06-24 22:15] #132 closed

[2020-06-24 22:16] irshadjsr21 opened #142 "Fetch and display repositories from firebase on the feed page"
**Description**
Display the repositories stored in firebase on the feed page with proper pagination and filtering.

[2020-06-26 16:37] vipulsnp commented on #142
I will work on this. @irshadjsr21

[2020-06-28 23:39] irshadjsr21 opened #146 "Loading screen while signup popup is scrollable."
**Description**
When a user tries to login/signup and a popup is displayed, the home page displays a loading screen. This loading screen is scrollable and the user can view the contents below it.

**Solution**
While the loading screen is displayed, the user should not be able to scroll through the contents.

[2020-06-29 19:32] irshadjsr21 opened #147 "First name & Last name should be saved on signup"
**Description**
Currently after the user signup, firstname and lastname are empty.

**Solution**
After the signup, update the user document with the firstname & lastname fetched from the oAuth provider.

[2020-06-30 06:55] #141 closed

[2020-06-30 07:03] vipulsnp commented on #146
Should the components be displayed or not?

Solution 1:
Display loading spinner  when the login/signup popup is open.
![image](https://user-images.githubusercontent.com/41316371/86094092-aa831200-bacd-11ea-86c8-79253bd86021.png)

[2020-06-30 07:19] vipulsnp commented on #53
@irshadjsr21 @snitin315 I don't think it will be feasible to use design system now.

[2020-06-30 08:53] irshadjsr21 opened #149 "Add feature to allow users to save repositories"
**Description**
Allow the users to save the repository from feed page, While saving only the repo id should be saved in user document in firebase to indicate the save.

The user should be able to see the no. of saves in their profile,

[2020-06-30 09:42] vipulsnp commented on #146
@irshadjsr21 Resolved!!

[2020-06-30 09:42] vipulsnp commented on #142
@irshadjsr21 This issue is resolved !

[2020-06-30 10:39] #146 closed

[2020-06-30 10:40] #142 closed

[2020-06-30 11:32] irshadjsr21 opened #150 "Update languages in top lang selection after 1st login"
**Description**
Update languages in top lang selection after 1st login. The data should come from the firebase collection.

[2020-07-01 10:59] vipulsnp commented on #147
@irshadjsr21 This has been resolved!

[2020-07-01 14:12] irshadjsr21 opened #154 "Add a page to display saved repositories"
**Description**
There should be a page that displays all the saved repositories by the current user.

[2020-07-01 14:12] #149 closed

[2020-07-01 14:12] #147 closed

[2020-07-04 08:32] #154 closed

[2020-07-04 20:26] #150 closed

[2020-07-06 11:40] vipulsnp commented on #133
@irshadjsr21 These have been added.

[2020-07-06 14:26] #133 closed

[2020-07-07 15:02] irshadjsr21 opened #157 "Implement new repo filtering design on feed page"
**Description**
Implement this new filtering design on the feed page.
![Feed Section – 4](https://user-images.githubusercontent.com/40335357/86800594-d2a3df80-c090-11ea-8b6b-e621aebc9ce2.jpg)

[2020-07-08 14:05] #139 closed

[2020-07-08 16:06] vipulsnp commented on #157
What will be the mobile view of this?

[2020-07-09 18:38] takshch commented on #157
I can work on this issue but mobile design is required.

[2020-07-09 18:39] vipulsnp commented on #157
@takshch I am already working on this one.

[2020-07-09 18:58] takshch commented on #157
Okay.

[2020-07-10 06:47] irshadjsr21 commented on #157
@vipulsnp Always comment on the issue before working on it to avoid confusion. Also, the mobile view is in progress, for now you just need to implement the desktop view.

@takshch You can look into other issues.

[2020-07-13 13:08] vipulsnp commented on #157
@irshadjsr21 This issue is now resolved.

[2020-07-19 07:20] irshadjsr21 opened #162 "Integrate issues and PR in the repo page"
The issues and PR's are stored in the `issues` & `pulls` collection with `repo_id`, `repo_name`. Integrate these collections to display them on the repo page.

[2020-07-19 11:23] vipulsnp commented on #162
I will work on this

[2020-07-23 08:41] irshadjsr21 opened #166 "Add the discussion form feature."
**Description**
This feature will be just like a forum, people can open new discussions (for a particular repo) and other people can see and add comment to those discussions.

[2020-07-23 08:41] #162 closed

[2020-07-23 08:42] #157 closed

[2020-07-23 14:56] divanshurox commented on #166
Hi I am new in Open Source, I wanted to work on this.

[2020-07-24 09:26] aryasoni98 commented on #166
Yes, Sure

[2020-07-26 09:10] Jayasree77 opened #167 "How To Work link in the nav not working"
The link to "How To Work" in the nav-bar of home page is not working

[2020-07-26 09:12] #167 closed

[2020-07-26 09:15] Jayasree77 opened #168 "''How To Work" link is not working"
**Describe the bug**
The "How to Work" link in the nav-bar of home page is not working

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to Homepage
2. Click on 'How To Work'
3. See error

[2020-07-27 10:26] irshadjsr21 commented on #168
We need to remove the `How to work` link on the navbar.

[2020-07-27 10:29] irshadjsr21 opened #169 "Minor changes for beta release."
## Description
1. Resolving the issue #168
2. The OSC logo should point to `/feed` when the user is logged in.
3. Remove extra fields on the profile page, like follows, likes etc.

[2020-07-27 10:53] vipulsnp commented on #168
Working on this one @irshadjsr21

[2020-07-27 10:54] vipulsnp commented on #169
Working on this one @irshadjsr21

[2020-07-28 04:04] mahimagoyalx commented on #168
Hi, can I also work on this issue?

[2020-07-28 06:33] #169 closed

[2020-07-28 06:33] #168 closed

[2020-07-28 10:32] vipulsnp commented on #166
@divanshurox Any updates on this?

[2020-08-02 19:55] garimasingh128 commented on #134
Can you please elaborate the issue?

[2020-08-03 06:30] irshadjsr21 commented on #134
Firebase provides us the feature of `rules`, which we can write to specify who is allowed to write & read which data from your firestore. These rules also provide us with the feature of specifying what type of data is required for being stored in the firestore. In this task, you have add rules to validate the data being stored on firestore for different collections.

[2020-08-03 08:56] ryuk156 opened #172 "Fix alignment of discussion component textbox and attachment button and send button"
**Describe the bug**

![image](https://user-images.githubusercontent.com/49101492/89164603-ed387e00-d594-11ea-9745-9a9ff00a871e.png)

As you see in above image the textbox is to big it looks bit dirty and did not have proper margin and alignment of attachment buuton with textbox is not proper,

[2020-08-07 07:17] Dishebh commented on #113
@irshadjsr21 I would like to work on this. Shall we redirect to the home page `/` if `newUser.user` is not defined.

[2020-08-07 08:42] Dishebh opened #179 "Input tag doesn't cover the whole searchBar"
**Describe the bug**
Currently, the Input tag doesn't cover the whole searchBar.

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to `/feed` page.
2. Hover over the search bar to see the issue.

**Expected behaviour**
The `input` tag should cover the whole search bar, leaving out the `search icon` on the left.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 -

[2020-08-08 05:36] irshadjsr21 commented on #113
If it's undefined logout user and return to home page.

[2020-08-08 16:20] vipulsnp commented on #140
Taking up this issue.

[2020-08-09 11:35] garimasingh128 opened #183 "The buttons at the bottom of the homepage have no links to their desired pages."
**Describe the bug**
When we scroll down to the bottom of the landing page, we see different buttons like open source, open collective, edit this page etc. However, there are no hrefs present for these buttons for their respective places they should lead us to.

![Screenshot (561)](https://user-images.githubusercontent.com/44302373/89731117-2fb0fd80-da62-11ea-97bc-be92cc90819d.png)

**Expected beh

[2020-08-09 11:41] garimasingh128 opened #184 "Non-functionality of the discussion box!"
![Screenshot (563)](https://user-images.githubusercontent.com/44302373/89731229-f331d180-da62-11ea-81d7-22903d83a54b.png)
**Describe the bug**
The discussion box is not functional.
- The comment writing section is too broad and the discussion box is quite thin and present at the side which looks quite bad. When I type a comment and try to press the send button it doesn't work. Neither the attach b

[2020-08-09 13:24] vipulsnp commented on #184
This issue has already been raised . Issue #166

[2020-08-09 18:48] vipulsnp opened #186 "Menu Items are not Clickable"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Open the site on mobile
2. Login and Go to profile
3. Try to click the menu items
4. Menu Items cannot be clicked

**Expected behaviour**

Menu Items should be clickable.

**Additional context**

This might be due to the google adsense component  taking up space and having z-Index more than the menu items.

[2020-08-10 04:12] Dishebh commented on #186
@vipulsnp can you pls provide a screenshot/gif that displays the issue? I am (somehow) not able to reproduce it.

[2020-08-10 11:37] #179 closed

[2020-08-10 12:55] #113 closed

[2020-08-10 13:09] vipulsnp opened #187 "Implement New Design for Project Details Page"
Desktop View
![image](https://user-images.githubusercontent.com/41316371/91006932-5a6d8b00-e5f8-11ea-8377-4fb3e5936480.png)
Mobile View
![image](https://user-images.githubusercontent.com/41316371/91006965-6bb69780-e5f8-11ea-8a99-2c264fcf78a5.png)
![image](https://user-images.githubusercontent.com/41316371/91006969-6f4a1e80-e5f8-11ea-9250-46e2414fbaee.png)

[2020-08-10 13:11] vipulsnp opened #188 "Redesign Discussion forum"
Desktop View
![image](https://user-images.githubusercontent.com/41316371/89786054-f7302300-db38-11ea-892d-5937d15891cc.png)
Mobile View
![image](https://user-images.githubusercontent.com/41316371/89786105-0a42f300-db39-11ea-8b66-5331eb0888ad.png)

[2020-08-10 13:27] vipulsnp commented on #186
@Dishebh try reproducing using above steps.

[2020-08-10 13:29] vipulsnp commented on #186
![image](https://user-images.githubusercontent.com/41316371/89787662-7a527880-db3b-11ea-88e2-64234783e466.png)

[2020-08-10 14:05] Dishebh commented on #186
@vipulsnp I am able to click on them, even on smaller resolutions.

[2020-08-11 07:43] vipulsnp commented on #183
@garimasingh128
These are the links:
Github : https://github.com/OpenSouceCode
View Source Code: https://github.com/OpenSouceCode/Frontend
Open Collective : https://opencollective.com/opensourcecode
Edit this page : https://github.com/OpenSouceCode/Frontend/tree/master/src/components
Replace `forum` with discord.
Discord : https://discord.gg/urV8vGk

Remove `code of conduct`

[2020-08-11 14:42] nihalbaig0 commented on #188
I will work on it.

[2020-08-11 15:42] #183 closed

[2020-08-15 17:43] vipulsnp commented on #186
Added z-index to menu Items. Handled in PR #191

[2020-08-15 17:43] #186 closed

[2020-08-17 08:03] WajeehGillani opened #193 "Change irregular file names to camelCase"
@vipulsnp I am working on this issue

[2020-08-17 18:27] #193 closed

[2020-08-18 08:53] vipulsnp opened #196 "Redesign Footer"
**Desktop**

![image](https://user-images.githubusercontent.com/41316371/90491970-46d8a500-e15e-11ea-98c7-624cc523e9a5.png)

**Mobile**
![image](https://user-images.githubusercontent.com/41316371/90492016-51933a00-e15e-11ea-8b7f-6b2dff6e1427.png)

[2020-08-20 08:36] utchak160 commented on #172
Please specify the location of this discussion panel on the website.

[2020-08-20 09:22] utchak160 commented on #172
Can I work on this issue?

[2020-08-23 17:21] pravleen17 commented on #140
By mistake I have unassigned it . Please can you again assign it .I am so sorry for it.

[2020-08-23 17:52] pravleen17 commented on #125
I want to take this issue

[2020-08-23 18:09] #196 closed

[2020-08-23 19:53] vipulsnp opened #201 "Change Auth Routes"
1. Allow login only via Github
2. Change routes to get data from backend.

[2020-08-24 05:19] utchak160 commented on #187
I want to work on this issue.

[2020-08-24 06:31] WajeehGillani opened #202 "Refactoring structure and split Dumb components and Smart components"
**Is your feature request related to a problem? Please describe.**
Having computation in dumb components leads to more complex and less re-usability of components.

**Describe the solution you'd like**
Split up the structure into smart components and dumb components

[2020-08-24 06:32] WajeehGillani commented on #202
@vipulsnp @irshadjsr21 started working on it

[2020-08-26 14:53] #134 closed

[2020-08-26 17:06] athiratj commented on #53
Hi, @vipulsnp  please assign me this issue.

[2020-08-26 17:14] vipulsnp commented on #53
@athiratj This one is stale and is no longer required, since we are writing own scss for components.

[2020-08-26 17:14] #53 closed

[2020-08-26 17:18] athiratj commented on #53
Okay, fine.

[2020-08-31 11:25] #187 closed

[2020-08-31 11:56] utchak160 commented on #201
Can I do this task?

[2020-08-31 11:58] vipulsnp commented on #201
@utchak160 I am already doing this..

[2020-08-31 13:49] utchak160 commented on #201
Okay

[2020-09-01 04:53] #201 closed

[2020-09-01 04:54] vipulsnp opened #208 "Change `.env.example`"
Change `.env.example` file according to new env variables.

[2020-09-01 14:28] vipulsnp opened #211 "Create Skill test Page"
The designs can be found here.
https://xd.adobe.com/view/c839bfc2-d7c4-48af-9085-6c42da2518c7-9d6a/?fullscreen

[2020-09-01 14:28] #208 closed

[2020-09-01 15:02] vipulsnp opened #212 "Separate Subscribe component from footer and make it a new component"
Currently the subscribe US component is in footer,
Separate  `subscribe us` and `footer`

[2020-09-01 15:24] Harshita248 commented on #212
I want to work on this issue. Please assign it to me if possible.

[2020-09-01 15:59] utchak160 commented on #211
Please assign me this task.

[2020-09-01 16:02] #212 closed

[2020-09-01 16:30] #140 closed

[2020-09-04 15:46] vipulsnp opened #215 "Implement new flow for saving/ starring a repo."

[2020-09-04 15:49] vipulsnp opened #216 "Change UI in feed page filters"
Change the `check boxes` in language list  and their implement to `radio buttons`.
![image](https://user-images.githubusercontent.com/41316371/92258331-48db8b80-eef4-11ea-84a2-6a43d2b07586.png)
Change to `Radio buttons`

[2020-09-04 15:50] vipulsnp commented on #216
This can be found out in `src/components/Feed/feedFinal.jsx`

[2020-09-06 08:54] #202 closed

[2020-09-07 18:54] vipulsnp commented on #216
Handled by @mahakal420

[2020-09-08 10:58] vipulsnp opened #218 "Add bottom border to input"
![image](https://user-images.githubusercontent.com/41316371/92468062-34e3a280-f1f0-11ea-92ae-f033dff2379c.png)

Bottom border is not there in `input fields` in settings page.

[2020-09-08 10:59] vipulsnp commented on #218
Assigned to `himanshu`

[2020-09-09 14:45] #218 closed

[2020-09-10 16:14] vipulsnp opened #222 "Create Admin Panel Page"
Create a new Page for `Admin Panel` .
It can only be accessed by the users having `admin` access.
![image](https://user-images.githubusercontent.com/41316371/92760826-ae28f400-f3ae-11ea-991e-df22fd725fdd.png)
![image](https://user-images.githubusercontent.com/41316371/92760850-b4b76b80-f3ae-11ea-9e91-c9894a2e4856.png)
![image](https://user-images.githubusercontent.com/41316371/92760882-ba14b600-f3

[2020-09-10 20:12] utchak160 commented on #222
Can I do this task?

[2020-09-10 20:14] vipulsnp commented on #222
Assigned @utchak160

[2020-09-11 05:54] vipulsnp opened #223 "No Issues not shown"
`No Issue` is not shown on opening any project when the issues are not there.

![image](https://user-images.githubusercontent.com/41316371/92870216-3d6eef80-f421-11ea-9b79-6024c13d3ba7.png)

**Steps to Reproduce**
1. Go to `feed` page
2. Search for `facebookarchive/three20`
3. Open the repo.
4. See the bug.

[2020-09-11 05:57] vipulsnp commented on #223
`Assgined` to `Joao Paulo Rodrigues Pereira`

[2020-09-11 19:55] #215 closed

[2020-09-14 16:38] #223 closed

[2020-09-15 16:16] vipulsnp opened #225 "Change the Project Info Page"
Change the project info page which is opened when clicking any repository,
![image](https://user-images.githubusercontent.com/41316371/93236683-bdd47e00-f79c-11ea-9a88-49a0b246140d.png)
This is the new design.

**Leave** the `filter` section. That doesnt need to be added.

[2020-09-15 16:21] vipulsnp opened #226 "Change the filter's section"
Filter section now has two tabs
1. `Basic`
2. `Advanced`
***Basic***
![image](https://user-images.githubusercontent.com/41316371/93237261-7b5f7100-f79d-11ea-86f3-62604b6c2c37.png)

***Advanced***
![image](https://user-images.githubusercontent.com/41316371/93237286-861a0600-f79d-11ea-99af-2fd05e9c9006.png)

`Advanced` tab components are already there.

[2020-09-17 06:48] FaizanKhan7 commented on #225
# #225
### I'll be doing this task.

[2020-09-23 18:13] #225 closed

[2020-09-28 15:01] Ritwik880 opened #230 "Add a Dark mode toggle button"
before applying dark mode:
![Screenshot from 2020-09-28 20-30-56](https://user-images.githubusercontent.com/54446880/94449323-9680a680-01c9-11eb-825a-1d0fb703b38a.png)

After applying dark mode:
![Screenshot from 2020-09-28 20-30-35](https://user-images.githubusercontent.com/54446880/94449353-a0a2a500-01c9-11eb-81cb-4771c5265441.png)

[2020-09-28 15:36] vipulsnp commented on #230
@Ritwik880 Are you working on this?

[2020-09-28 15:37] Ritwik880 commented on #230
yes almost done

[2020-10-01 10:06] rajatgupta24 commented on #226
Hey @vipulsnp can I work on this.

[2020-10-01 10:23] vipulsnp commented on #226
@rajatgupta24 Can you integrate api's from backend with frontend. UI is already made.

[2020-10-01 12:15] rajatgupta24 commented on #226
@vipulsnp the API and UI are done I have to integrate them ?

[2020-10-01 12:38] vipulsnp commented on #226
You are just required to add queries to the js file to fetch data using api

[2020-10-01 13:22] rajatgupta24 commented on #226
Sure can do that

[2020-10-01 13:26] vipulsnp commented on #226
@rajatgupta24 Use `feed page filters`  branch and make changes in that one

[2020-10-01 13:27] vipulsnp commented on #230
Updates @Ritwik880 .

[2020-10-01 18:39] vipulsnp commented on #226
@rajatgupta24 Contact me on slack for `queries` to be added and if you have any problem.

[2020-10-05 08:07] Shaddamah opened #238 "[FEATURE]: Hacktoberfest Topic"
**Is your feature request related to a problem? Please describe.**

Since this month is Hacktoberfest 2020 and so many people trying to contribute to many open source code, i guess you it will be good to help them find codes to contribute by adding **hacktoberfest** topic to the repository

**Describe the solution you'd like**

Add **hacktoberfest** topic. By adding **hacktoberfest** topic to the

[2020-10-05 11:49] vipulsnp commented on #238
Since this repository is not specifically for `hacktoberfest`. It might not be good to add `hacktoberfest` as a topic.

[2020-10-05 14:40] baris5d commented on #230
It would be better to make "Sign in with GitHub" button white in dark theme. It can make it more visible.

[2020-10-05 14:51] vipulsnp commented on #230
@Ritwik880 Keep this suggestion also.

[2020-10-05 14:57] baris5d opened #240 "Smoother design"
When I looked at the website It looks like there's a design system but some elements have different approaches. I just changed some of elements in a way look better as an example. If you don't mind I'd like to apply all elements same effects.

Organization Page elements are too close to each other. It makes it more clear to give a better gap. I changed shadows also.
![organizations](https://user-i

[2020-10-05 15:03] Ritwik880 commented on #230
okay

[2020-10-05 15:17] Shaddamah commented on #238
Well, okay then, thank you.

[2020-10-05 15:18] #238 closed

[2020-10-05 15:25] baris5d opened #241 "Repository filters"
I don't know if I can describe it as a bug or a feature actually. When I select a filter and click a repository and when I go back on the page, my filters reset.

My expectation is that my filters must be stay there when I go back on the page.

It can be solved with adding the selections to url with a GET method.

https://opensourcecode.tech/feed?sort=best-match&languages=javascript....
or
https:/

[2020-10-05 15:54] vipulsnp commented on #230
@Ritwik880 what are your updates on the issue?

[2020-10-05 15:54] vipulsnp commented on #226
@rajatgupta24 Progress Updates?

[2020-10-05 17:47] Ritwik880 commented on #230
Giving final touch

[2020-10-06 11:11] vipulsnp commented on #240
@baris5d You can work on this One. Make sure all breakpoints are covered.

[2020-10-06 11:51] baris5d commented on #240
Okay I'm starting immediately. I'll send a pr asap.

[2020-10-07 06:04] #125 closed

[2020-10-08 00:46] pavan5555 commented on #241
Hi is anyone working on this, I would like to give it a try!

[2020-10-11 08:17] #240 closed

[2020-10-11 09:01] baris5d opened #246 "Components load before checking auth"
Authorized pages are redirecting after components loaded. I see the feed, organization and starred repository pages without signing in. The same goes for landing page when I'm not signed in.

[2020-10-11 09:56] vipulsnp commented on #246
You can work on this. @baris5d .

[2020-10-11 10:07] chrysillala commented on #226
Hi, I would like to work on this issue. Could you please assign and guide me? Thanks

[2020-10-12 15:40] vipulsnp commented on #230
Updates?

[2020-10-12 15:41] vipulsnp commented on #246
Are you working on this @baris5d

[2020-10-13 01:34] baris5d commented on #246
I cannot work on this for next couple days. I'll take it when I'll be available if it won't be taken.

[2020-10-18 09:11] vipulsnp commented on #230
@Ritwik880 Have you completed it?

[2020-10-18 14:48] Ritwik880 commented on #230
@vipulsnp actually i am facing some trouble in the testimonial section and i am trying to resolve that as soon as possible.

[2020-10-18 14:59] vipulsnp commented on #230
What problem are you facing on that one? @Ritwik880

[2020-10-19 07:29] rudongsu commented on #241
Hi are you working on this @pavan5555

[2020-10-22 11:14] Prathamesh-Shanbhag opened #253 "Browser Recognizing the website with Indonesian language"
**Describe the bug**

Browser Recognizing the website with Indonesian language.
**To Reproduce**

Steps to reproduce the behaviour:
1. Go to the website and wait for page to load.

**Expected behaviour**

Page loads without google translate dialog box.
**Screenshots**

![Screenshot 2020-10-22 150730](https://user-images.githubusercontent.com/70568620/96862806-99e31700-1483-11eb-950c-fb28d90e6de5.p

[2020-10-23 14:17] vipulsnp commented on #253
@Prathamesh-Shanbhag Are you willing to work on this issue?

[2020-10-23 14:19] #188 closed

[2020-10-27 17:33] nihalbaig0 commented on #226
I would like to work on it.

[2020-10-29 20:13] Bihan001 commented on #253
I would like to work on this issue.

[2020-10-30 05:08] vipulsnp commented on #253
@Bihan001 Ok sure.

[2020-10-30 09:34] DhrutikPatel commented on #246
Hello, @vipulsnp Can I work on it?

[2020-10-30 10:24] Bihan001 commented on #253
Fixed the google translate problem.

[2020-10-30 12:56] vipulsnp commented on #246
@DhrutikPatel Go Ahead

[2020-10-30 15:18] vipulsnp commented on #253
Will review your PR.

[2020-10-30 15:25] Bihan001 commented on #253
Okay

[2020-10-31 18:20] #253 closed

[2020-10-31 18:21] #184 closed

[2020-10-31 18:21] #166 closed

[2020-10-31 18:21] vipulsnp opened #257 "Add Reply feature in Discussion Form"

[2020-10-31 18:23] vipulsnp commented on #230
@Ritwik880 What are your updates on this one?

[2020-10-31 20:05] DhrutikPatel opened #259 "sign in with github button not working"
**Describe the bug**
when you go to home page there is a **sign in with github** button
on clicking give 404 Page not found button

**To Reproduce**
Steps to reproduce the behaviour:
1. Click on this link https://opensourcecode.netlify.app/
2. Click on "**sign in with github** button"
4. See error

**Expected behaviour**
It should redirect to sign in page of github

**Desktop (please complete the

[2020-11-01 09:56] vipulsnp commented on #259
This is not an issue with frontend.

[2020-11-01 09:56] #259 closed

[2020-12-02 17:50] sonylomo commented on #230
Hey @vipulsnp, can I try helping out on this?

[2020-12-02 17:51] vipulsnp commented on #230
Sure @sonylomo

[2020-12-03 08:09] SiddheshShinde-tech commented on #230
Hey @vipulsnp, can I work on this?

[2020-12-03 08:46] vipulsnp commented on #230
@SiddheshShinde-tech There is already a contributor assigned for it.

[2020-12-07 10:54] sonylomo commented on #230
@vipulsnp should the dark theme be applied on the home page and navabar only, or the rest of the site too?

[2020-12-07 12:21] irshadjsr21 commented on #230
@sonylomo You can look into other issues to work on. The dark theme will be implemented after we migrate to the new design.

[2020-12-18 03:19] vivek80801 commented on #222
@vipulsnp  Is this issue is still open ?

[2020-12-18 07:42] saumyasrivastava08 commented on #241
Can i work?

[2020-12-18 07:53] saumyasrivastava08 commented on #257
I was saying that i can add all the links to all the sections on header like if we click on home it will redirect to home when clicking on About it will redirect to the about .
I think we should do routing.
Can I?

[2020-12-18 10:02] irshadjsr21 commented on #222
Yes @vivek80801 . Do you want to work on this?

[2020-12-18 10:03] irshadjsr21 commented on #241
Sure, @saumyasrivastava08 , Go ahead.

[2020-12-18 20:31] kapilaggarwal11 commented on #222
Hey. Can I work on this?

[2020-12-21 06:39] sonylomo commented on #226
@irshadjsr21, I'd like to work on this issue.

[2020-12-21 09:56] irshadjsr21 commented on #222
Sure @kapilaggarwal11. Go ahead.

[2020-12-21 09:58] irshadjsr21 commented on #226
Sure @sonylomo. Go ahead.

[2020-12-24 15:30] #230 closed

[2020-12-26 15:35] sonylomo opened #263 "OAuth in login route not working"
The OAuth is not working in local systems. This is because the login route cannot read the token parameters provided by the backend.

[2020-12-28 07:12] chakmakamal commented on #211
Hi, I'm new to open source. Can I work on this issue if it's open.

[2020-12-28 10:04] irshadjsr21 commented on #211
Hi @chakmakamal, this is a duplicate issue. Someone is already working on it #222. You can look into other issues.

[2020-12-28 10:13] chakmakamal commented on #211
Ok thanks @irshadjsr21.

[2020-12-31 15:37] Abhijay007 opened #267 "In mobile view 'sign in with github' button overlap the bottom image"
**Describe the bug**

when the user switch to mobile view the sign in with Github button overlaps the bottom image

**Current behavior**

 ![current](https://user-images.githubusercontent.com/64387054/103416259-e053a100-4bab-11eb-9c0c-e91fcec1a8c6.PNG)

**Expected behaviour**

  ![expected](https://user-images.githubusercontent.com/64387054/103416265-e47fbe80-4bab-11eb-91fd-da1903d80964.PNG)

**De

[2021-01-01 14:38] Abhijay007 opened #268 "Footer Redesigned"
**Is your feature request related to a problem? Please describe.**
 I redesigned the footer part of the site because it looks a bit less responsive and expressive in web and mobile view as well.

**Describe the solution you'd like**

***before-web view***

![before-web](https://user-images.githubusercontent.com/64387054/103440518-5c152280-4c6c-11eb-95d1-a7b8258a039b.PNG)

***after-web view***

![a

[2021-01-01 14:39] Abhijay007 commented on #268
can I work on this?

[2021-01-01 14:39] Abhijay007 commented on #268
can I work on this?

[2021-01-01 19:27] irshadjsr21 commented on #268
Closing this because there is going to be a complete redesign of the frontend in which these issues will be fixed.

@Abhijay007 I'll be opening some new issues to redesign the pages in a couple of days, you can work on those.

[2021-01-01 19:27] #268 closed

[2021-01-01 19:28] irshadjsr21 commented on #267
Closing this because there is going to be a complete redesign of the frontend in which these issues will be fixed.

[2021-01-01 19:28] #267 closed

[2021-01-01 19:29] #263 closed

[2021-01-05 18:47] pappyJ opened #270 "Readme Dosent say much about the project"
Readme  Dosent Describe The Project Very Well Making it hard to know the total purpose of the project at a glance

Updtate project readme file

[2021-01-06 15:03] pappyJ commented on #270
I wouldn't mind working on this ticket if assigned.

[2021-01-06 15:05] irshadjsr21 commented on #270
Sure, go ahead. You can find more details about the project on the Wiki page.

[2021-01-07 20:30] irshadjsr21 opened #273 "Redesign the Landing Page"
Create a landing page with the new design as shown in [this](https://www.figma.com/file/uDe6yuBw961ISTg6gYL9AO/CodeTrops-Feed-pages?node-id=6%3A192) Figma file.

[2021-01-07 22:58] pappyJ commented on #270
ok sir thanks

[2021-01-07 23:30] pappyJ opened #274 "Add Fork Feature"
Adding fork feature to the project would be a plus to the project

since users can see a project , see the stack , number of stars  and can even star it ...

Giving them the privilege to fork the project they are interested in would be a great feature to have

One you click the fork button , it forks the project

[2021-01-12 13:55] sonylomo commented on #273
I'm on this.

[2021-01-25 10:13] irshadjsr21 opened #277 "Change HTML lang to English"
Currently, the HTML lang is set to `id`, change it to `en`.

[2021-01-25 18:01] 96RadhikaJadhav commented on #277
@irshadjsr21  I could see the HTML language is already set to "en" in pages\_document.jsx file at line 12.
If it needs to be set anywhere else, please let me know.

[2021-01-25 18:16] irshadjsr21 commented on #277
Hi, thanks for confirming. The issue seems to be fixed in the latest update.

[2021-01-25 18:16] #277 closed

[2021-02-03 20:50] aryan040501 commented on #270
@irshadjsr21 I think this issue has not been solved yet. I would love to work on this under SWOC program!

[2021-02-04 17:46] irshadjsr21 commented on #270
@aryan040501 Thank you for showing interest in the project, however, this project is no longer under SWOC. But you can still contribute to it if you wish.

[2021-02-10 13:46] aryan040501 commented on #270
@irshadjsr21 I am sorry sir, currently I am fully devoted to SWOC. Will surely contribute once SWOC is over. Thanks a lot

[2021-03-08 19:08] PushkarDureja commented on #274
I would like to solve this issue. Can you please assign  it to me ?

[2021-03-09 02:11] subhangi2731 commented on #211
can you assign it to me?

[2021-03-09 10:57] RituCs commented on #273
I would like to contribute on this .Please assign me.

[2021-03-11 05:38] nandini2110 opened #288 "On the Setting page after giving details about you there can be a save and next button that redirects you to the social section"
Save and next button is a feature that I would like to work on that would redirect the user to the Socials section
Could you please assign this to me as a GSSOC'21 participant?

[2021-03-11 09:52] aryasoni98 commented on #288
Yes sure , @nandini2110

[2021-03-11 09:53] aryasoni98 commented on #274
Yes sure @PushkarDureja start working

[2021-03-11 09:54] aryasoni98 commented on #273
Yes sure @RituCs

[2021-03-11 10:50] garvitgupta13 commented on #246
Hey, @vipulsnp  please describe this issue in detail. I tried to open /feed page but its component loaded after authorization.
I am gssoc21 participant, if this bug is still there at any other link, please let me know, I will try to fix it

[2021-03-11 17:23] bhubesh757 commented on #273
@aryasoni98 @irshadjsr21 I will Join with this contribution , so it might solve the issue soon @RituCs Can i Join
Is this not under the guidelines @alizahir23 @irshadjsr21

[2021-03-11 20:08] jain-rishabh-21 commented on #211
Please assign it to me.
Discord Username: krackerzzz#4371

[2021-03-12 07:22] Arshanshagarwal commented on #270
I would like to contribute to this issue as a part of GSSOC'21. Please assign it to me.

[2021-03-12 08:23] RituCs commented on #273
@bhubesh757 You can work on this issue.Now I am working some other issue.

[2021-03-12 08:31] bhubesh757 commented on #273
@irshadjsr21 Assing this to me

[2021-03-12 12:23] bhubesh757 commented on #273
@aryasoni do i need to code for the design or i need to make new design

[2021-03-12 12:44] aryasoni98 commented on #273
@bhubesh757 No , You don't need to make new design . [Figma File ](https://www.figma.com/file/dzND8YXSRqhtAYYjEKSAm1/CodeTrophs?node-id=0%3A1) Check Figma File .

[2021-03-12 16:00] Anurag5086 opened #289 "Improve the search field/component"
The search field on the feed, organization and Starred Repositories Page is not going well with the color theme of the website. Also the placeholder text is not visible.

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to Feed/Organization/Starred Repositories Page
2. See the Search field

**Expected behaviour**

Having a better search component which goes along with the color scheme of

[2021-03-12 16:04] saikeshari commented on #289
I want to work on this as part of GSSoc'21. Please add appropriate tags and assign it to me so that I can start working.

[2021-03-12 16:32] Fab-Gaurav commented on #257
As a participant of GSSoC'21 may I work on this issue @aryasoni98

[2021-03-12 16:34] aryasoni98 commented on #257
@Fab-Gaurav yes sure

[2021-03-12 17:04] aryasoni98 commented on #211
@jain-rishabh-21 Yes sure . Start working on it .

[2021-03-12 17:58] Anurag5086 commented on #289
Cool. Go ahead.

[2021-03-12 19:28] aryasoni98 commented on #289
@saikeshari Strat working on it .

[2021-03-13 00:52] chauhanprakhar opened #290 "Creating docker file"
Project setup can be messy and a participant can face many errors, creating a docker file can make it easy for project setup. So I want to create a docker file for this project.

[2021-03-13 06:16] msk4862 commented on #270
@Arshanshagarwal Sure go ahead!
You can take help from project's [Wiki](https://github.com/CodeTrophs/Frontend/wiki) page to know more about the project.

[2021-03-13 07:29] bhubesh757 commented on #273
@aryasoni98 Unable to grab the files and images from the landing but i can grab it from footer i work make easy right , can please send me the whole figma file of landing page whhich can be grab the content

[2021-03-13 10:34] khareyash05 opened #292 "add contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-13 11:06] aryasoni98 commented on #292
Nice one . Start Working on it . @khareyash05

[2021-03-13 11:07] khareyash05 commented on #292
On it @aryasoni98

[2021-03-13 11:08] khareyash05 commented on #292
Could you also pls add a level label to the same @aryasoni98

[2021-03-13 11:19] chauhanprakhar opened #294 "Getting error in running npm install"
I'm getting some error when installing dependencies by running "npm install". Is there anyone who is facing the same issue or is there any problem with my node setup.
![image](https://user-images.githubusercontent.com/54539712/111028345-15863600-841c-11eb-9db8-f2641b608ad9.png)

[2021-03-13 12:49] Anurag5086 commented on #294
Upgrade node-sass to the latest version. This might fix the issue. @chauhanprakhar

[2021-03-13 17:32] Anurag5086 opened #295 "fix node.js CI/build"
Refer changes in commit a0cd9a0aeb2ed8dc635eedb3f6e290c90b908a1f

![image](https://user-images.githubusercontent.com/54763478/111038545-1aaaab80-8443-11eb-8ec5-4a8067015140.png)

[2021-03-14 05:09] khareyash05 commented on #292
@msk4862 Could you pls add a level label to the issue as easy/medium labels arent being considered in GSSOC

[2021-03-14 05:55] bhubesh757 commented on #273
@aryasoni98 Reply to this !!

[2021-03-14 06:49] msk4862 commented on #295
@Anurag5086 add level label too.

[2021-03-14 06:57] msk4862 commented on #246
@baris5d @vipulsnp @garvitgupta13 I think the bug fixed now.

[2021-03-14 07:10] Anurag5086 commented on #294
@chauhanprakhar is it fixed for you?

[2021-03-14 10:17] aryasoni98 commented on #273
@bhubesh757 landing page already redesign . ￼

[2021-03-14 10:17] #273 closed

[2021-03-14 12:53] #292 closed

[2021-03-14 15:37] pinkman7009 opened #296 "Improve the settings options/component"
**Description**

The About You and Socials buttons on the Settings page have a very light placeholder text on select, which can be made bolder.

**To Reproduce**

Steps to reproduce the behaviour:

1. After signing in, click on the username and click on Settings to go to the Settings page.
2. The About you and Socials buttons should be visible and on select, have a very light placeholder text.

**

[2021-03-14 15:52] rajesh6161 commented on #296
I saw the issue on the settings page and I want to handle this issue @pinkman7009

[2021-03-14 17:42] msk4862 commented on #226
@vipulsnp is the issue fixed by #266 ?

[2021-03-14 17:47] pinkman7009 commented on #296
Yes sure go ahead with this @rajesh6161.

[2021-03-14 18:51] saikeshari commented on #295
I fixed this in my PR.
The emoji was to be enclosed in span with suitable properties

[2021-03-15 05:35] romasinha commented on #241
Can I work on this issue too?

[2021-03-15 05:36] romasinha commented on #296
Can I work on this issue too @rajesh6161?

[2021-03-15 05:40] rajesh6161 commented on #296
Yes sure @romasinha but I already did the PR that will resolve this issue

[2021-03-15 09:13] #289 closed

[2021-03-15 09:27] msk4862 commented on #246
I'm closing the issue as its fixed now.

[2021-03-15 09:27] #246 closed

[2021-03-15 09:30] Anurag5086 commented on #295
#298

[2021-03-15 09:30] #295 closed

[2021-03-15 11:00] Anurag5086 commented on #296
@pinkman7009 is this issue a Level1?

[2021-03-15 14:00] pinkman7009 commented on #296
@Anurag5086 yes it is a small code change similar to your Search component one so I labelled it as level 1.

[2021-03-15 15:23] #270 closed

[2021-03-15 16:05] Anurag5086 commented on #296
Okay alright, i thought changing the whole setting page component. @pinkman7009

[2021-03-15 16:19] Anurag5086 commented on #294
@chauhanprakhar is the issue solved?

[2021-03-15 16:32] #296 closed

[2021-03-15 23:44] chauhanprakhar commented on #294
No upgrading node-sass is not fixing this error @Anurag5086

[2021-03-16 12:17] aryasoni98 opened #302 "Redesign Footer Section"
![Footer Part](https://user-images.githubusercontent.com/18515597/111307724-dce69680-867f-11eb-9547-0a1422de8211.png)

Contact Us ( Social URL ) :

LinkedIn : https://www.linkedin.com/company/codetrophs/
Github : https://github.com/CodeTrophs
Facebook : https://www.facebook.com/codetrophs
Discord : https://discord.gg/urV8vGk

Footer Assest : https://drive.google.com/drive/folders/14RvbpwViIdoVJsKP

[2021-03-16 16:05] saikeshari commented on #302
I want to work on this issue. Please assign this to me.

[2021-03-16 17:04] aryasoni98 commented on #302
@saikeshari Go Head 👌🏻

[2021-03-16 17:30] saikeshari commented on #302
The links of 3 pages and other details in the center are not included in the footer, So I should go ahead like this only?

![image](https://user-images.githubusercontent.com/68103466/111353451-547deb00-86ab-11eb-9c15-967497749ebc.png)

[2021-03-17 11:30] msk4862 commented on #288
@nandini2110 What's the progress?

[2021-03-17 19:05] aryasoni98 commented on #302
@saikeshari Go head like this . Just edit the content part .

[2021-03-19 07:03] #294 closed

[2021-03-20 06:47] msk4862 commented on #290
@chauhanprakhar what's the progress?

[2021-03-20 06:48] msk4862 commented on #257
@Fab-Gaurav What's the progress?

[2021-03-20 15:51] aryasoni98 commented on #211
![Skill Quiz – 1](https://user-images.githubusercontent.com/18515597/111875807-b8612600-89c1-11eb-8074-3ed8b884e674.png)
![Skill Quiz – 2](https://user-images.githubusercontent.com/18515597/111875814-bdbe7080-89c1-11eb-809e-c5284ceadba0.png)
![Test window – 1](https://user-images.githubusercontent.com/18515597/111875818-bf883400-89c1-11eb-8f1e-ee32cdbabd02.png)
![Test window last question – 1](htt

[2021-03-20 15:51] aryasoni98 commented on #211
@jain-rishabh-21 Go Head

[2021-03-21 08:16] Fab-Gaurav commented on #257
Hello @msk4862
I am working on this issue, facing some problem, will update you soon !!

[2021-03-23 11:00] #274 closed

[2021-03-25 06:43] sheetalj2205 opened #303 "#want to add Navigation bar in the header"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

As the website doesn't have a Nav bar in the header. I want to add all the links of footer in the nav bar also.

**Additional context**

[2021-03-27 07:16] msk4862 commented on #302
@saikeshari what's the progress?

[2021-03-27 07:19] msk4862 commented on #303
@sheetalj2205 wants to take this issue?

[2021-03-27 14:01] ANSHIKA1806 commented on #303
@aryasoni98 @Anurag5086 @pinkman7009
Hello sir/mam, I want to work on this issue ,please assign this issue to me. I would to contribute in your organization.
Thank you.

[2021-03-27 14:24] sheetalj2205 commented on #303
@aryasoni98 @Anurag5086 @pinkman7009
Hello  Sir/Ma'am, I have made this issue and I want to work on this for GSSoC'21.

[2021-03-27 14:29] sheetalj2205 commented on #303
Yes! I want to work on this for GSSoC'21

[2021-03-27 17:54] msk4862 commented on #303
@sheetalj2205 go ahead.

[2021-03-27 17:54] msk4862 commented on #303
@ANSHIKA1806 you can check out other issues.

[2021-03-27 21:59] pinkman7009 commented on #211
@jain-rishabh-21 what's the progress?

[2021-04-01 13:54] Anurag5086 commented on #303
@sheetalj2205 What's the progress?

[2021-04-02 09:47] sheetalj2205 commented on #303
Working on it , I need 2-3 days more.

[2021-04-02 17:38] pinkman7009 commented on #303
@Anurag5086 it is fine, she is having some issues so I am helping her out.

[2021-04-04 15:45] sheetalj2205 commented on #302
Can I work on this issue?

[2021-04-04 15:45] pinkman7009 commented on #302
Sure go ahead

[2021-04-04 16:17] sheetalj2205 commented on #303
While committing
![issue303](https://user-images.githubusercontent.com/64475191/113514969-3eb76380-958f-11eb-94e9-e5c695df82fc.JPG)
 I am facing this issue. I am not able to commit.

[2021-04-04 18:02] pinkman7009 commented on #303
Not sure why this issue might be occurring. @Anurag5086 @msk4862 can you take a look into this?

[2021-04-05 05:21] aishux opened #305 "Auto Label Bot"
**Is your feature request related to a problem? Please describe.**
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contributors ask to work under that label.

**Describe the solution you'd like**
A script in .github

[2021-04-05 06:02] msk4862 commented on #303
@sheetalj2205 looks like `href` attribute is missing in `a` tags you have added.

[2021-04-05 06:33] Anurag5086 commented on #303
@sheetalj2205 and in the `RightNavbar.jsx` component, the `Open` prop is not being validated.

[2021-04-05 09:14] sahildotexe commented on #288
Hello , I'm GSSOC'21 participant.I am a MERN Stack developer. Can you assign me this issue?

[2021-04-05 09:23] ankit-kmar commented on #305
Hey! I would like to work on this under gssoc21. Pls assign me this issue.

[2021-04-05 09:38] umamanasir opened #306 "Donate Option does not lead anywhere"
**Describe the bug**
The donate option does not lead anywhere on the webpage or provide any relevant information.
I can add a feature so that it lands on a page which says the option the feature will be available soon or provides more information for donation.

I am a GSSoC '21 Participant.

[2021-04-05 09:54] msk4862 commented on #306
@umamanasir go ahead!

[2021-04-05 09:59] msk4862 commented on #305
@aishux go ahead!

[2021-04-05 10:15] neha-baisane opened #307 "Inserting icon for contact purpose."
Inserting the social media icon list on the page at the right side of the page .
As GSSOC'21 participant i would like to work on this issue please assign me.

![trophissue](https://user-images.githubusercontent.com/64725427/113563772-eaab8e00-9625-11eb-9c49-2c9a5fdcc4a6.png)

[2021-04-05 10:23] Siddhant-K-code commented on #290
I can try this.

[2021-04-05 10:27] Siddhant-K-code commented on #290
I am contributing under GSSOC but, still I think it is difficult and should be tagged as `Level 3`

[2021-04-05 11:01] ankit-kmar opened #308 "Add the vertical scroll indicator for better user experience."
**Is your feature request related to a problem? Please describe.**
Add the vertical scroll indicator for better user experience.

**Describe the solution you'd like**
A little changes in html, css and js file.

**Describe alternatives you've considered**
Nothing

**Additional context**
Pls assign me this issue with a gssoc21 label and mentioning its level

[2021-04-05 12:39] msk4862 commented on #288
@sahildotexe Go ahead!

[2021-04-05 17:05] ankit-kmar opened #310 "Welcome Bot"
This bot basically greets someone who opens up an issue or makes a pr for the first time in the repo and also when the pr gets merged.

Here is the greetings that I'll use:

Someone opens a new issue:

Hi @_user!

Thanks for opening a new issue to this repo! Don't forget to go through our Code of Conduct and Contributing Guidelines, and wait until you get assigned by one of our maintainers to work

[2021-04-05 19:11] aryasoni98 commented on #310
@ankit-kmar Go Head

[2021-04-06 17:26] Fpj-11 opened #312 ""Top" button is not visible properly"
**Is your feature request related to a problem? Please describe.**
"Top" button at the bottom right corner is not visible properly. It would be better if we change its color to make it visible

**Describe the solution you'd like**
Can put some icon pointing towards the top.

**Describe alternatives you've considered**

**Additional context**
![Screenshot (2094)](https://user-images.githubuserconte

[2021-04-06 17:27] Fpj-11 commented on #312
I am interested in front-end development. Kindly assign this issue to me.

[2021-04-06 19:34] aryasoni98 commented on #312
@Fpj-11 Go Head.

[2021-04-07 09:40] aryasoni98 commented on #307
@neha-baisane Go Head

[2021-04-07 09:41] CMELAKKIA commented on #222
@irshadjsr21 please assign me this issue. I will do my best and complete as soon as possible. I can surely create an admin panel which is accessible only to the admins.

[2021-04-07 10:03] aryasoni98 commented on #222
@CMELAKKIA Go Head 👍🏻

[2021-04-07 20:41] N-Shar-ma opened #314 "Testimonial Navigation Buttons misaligned wrt the Image Below them"
## Bug

The next and previous buttons in the Testimonials section on the homepage are not well aligned with the image below them in large screen view

### To Reproduce

- Go to `https://codetrophs.io/` on a laptop / desktop
- Scroll down to the testimonials section

## Expected Behaviour
The buttons should be aligned with the left and right edges of the image below them

## Screenshots of now
![im

[2021-04-08 05:10] tanishq-arya opened #315 "UI improvement Icons in Footer"
**Describe the bug**

1. Adding hover to social icons in footer
2. The links open in same tab

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartph

[2021-04-08 05:11] tanishq-arya opened #316 "UI Back to top button is not visible clearly"
**Describe the bug**

The button is not clearly visible and I for once missed it too.
I would like to modify the css for the same

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, saf

[2021-04-08 18:20] neha07kumari commented on #312
@aryasoni98  Can you please assign me this issue . I want to work on it.

[2021-04-08 18:42] aryasoni98 commented on #302
@sheetalj2205 Any Update

[2021-04-08 18:44] aryasoni98 commented on #315
Check the issue #302

[2021-04-08 18:45] aryasoni98 commented on #316
Check the issue #312

[2021-04-09 04:53] sheetalj2205 commented on #302
Yes! I will make the PR on monday

[2021-04-09 16:03] shonali2600 opened #317 "Signin with github is not working"
I would like to work on this issue, please try to assign me as a gssoc participant.

[2021-04-09 16:05] shonali2600 opened #318 "improving ui of testimonials"
**Is your feature request related to a problem? Please describe.**

UI of testimonial is not looking good.

**Describe the solution you'd like**

I would like to improve its appearance

please assign this to me as a gssoc participant

[2021-04-10 10:16] kumar-tushar opened #319 "Align Footer content in Center in MOBILE VIEW"
![Screenshot_2021-04-10-15-40-56-084_com android chrome](https://user-images.githubusercontent.com/56949668/114266371-9df3f880-9a13-11eb-9a02-c8f509294bf1.jpg)

It will look nice if the text content of Footer is in the Center when you are on Mobile View.

@irshadjsr21 Want to fix this issue!

[2021-04-10 10:30] kumar-tushar commented on #318
@irshadjsr21 Want to work on this issue.
The UI is very traditional for the testimonial.
I want to place the left-right navigation button on the left and right side of the screen respectively and the content of the testimonial in the center so that the quote and photo are horizontal aligned.

[2021-04-10 12:07] shonali2600 commented on #318
@kumar-tushar I've created this issue because I want to work on this issue, Please try to search any other issue or create other

[2021-04-10 15:38] #316 closed

[2021-04-10 15:39] #315 closed

[2021-04-10 19:24] #305 closed

[2021-04-10 19:26] aryasoni98 commented on #319
@kumar-tushar Go Head

[2021-04-10 19:27] aryasoni98 commented on #318
@shonali2600 Go Head

[2021-04-10 19:29] aryasoni98 commented on #317
@shonali2600 Attach the error screenshot .

[2021-04-10 19:29] aryasoni98 commented on #314
@N-Shar-ma Go Head

[2021-04-10 19:31] #312 closed

[2021-04-10 19:31] aryasoni98 commented on #310
@ankit-kmar Update

[2021-04-10 19:32] aryasoni98 commented on #308
@ankit-kmar Go Head

[2021-04-10 19:33] aryasoni98 commented on #222
@CMELAKKIA Any Update

[2021-04-10 19:33] aryasoni98 commented on #211
@jain-rishabh-21 Any Update ?

[2021-04-10 19:41] aryasoni98 commented on #222
![1](https://user-images.githubusercontent.com/18515597/114282629-ac1d3580-9a62-11eb-9832-2fcf337bf890.png)
![2](https://user-images.githubusercontent.com/18515597/114282633-b0495300-9a62-11eb-9c71-4383a677ebab.png)
![3](https://user-images.githubusercontent.com/18515597/114282634-b17a8000-9a62-11eb-9dc5-5fa1da134d97.png)
![4](https://user-images.githubusercontent.com/18515597/114282636-b2131680-9

[2021-04-10 19:42] aryasoni98 commented on #290
@Siddhant-K-code Go Head

[2021-04-10 19:43] aryasoni98 commented on #288
@sahildotexe Any Update ?

[2021-04-10 19:43] aryasoni98 commented on #257
Any Update ? @Fab-Gaurav

[2021-04-10 19:44] aryasoni98 commented on #241
@romasinha Yes , Go Head

[2021-04-10 19:45] aryasoni98 commented on #302
@sheetalj2205 Any Update ?

[2021-04-10 19:46] aryasoni98 commented on #306
@umamanasir Any Update ?

[2021-04-10 19:46] aryasoni98 commented on #307
@neha-baisane Any Update ?

[2021-04-10 20:11] umamanasir commented on #306
working on it. I had a confusion so I have reached out to a mentor on Discord.

[2021-04-10 20:32] sheetalj2205 commented on #302
please wait till monday.

[2021-04-10 21:40] ankit-kmar commented on #310
Was busy in completing assignments. Will do it by tomorrow 👍

[2021-04-11 04:38] shonali2600 commented on #317
@aryasoni98, no error is there, while clicking on sign in with GitHub, it leads to the same page and nothing happens

[2021-04-11 04:45] CMELAKKIA commented on #222
@aryasoni98  ill start working using new UI design and update you soon.
Will you please share me the elements of the XD file .

[2021-04-11 06:34] neha-baisane commented on #307
couldn't install npm file

[2021-04-11 13:32] aryasoni98 commented on #307
What kind of error you are facing￼

[2021-04-11 13:40] shonali2600 commented on #318
@aryasoni98  the label "gssoc2021" is not valid, please change it to the valid label. ex: gssoc21

[2021-04-12 10:27] aryasoni98 commented on #318
@shonali2600 Okay .

[2021-04-12 11:44] msk4862 commented on #317
@shonali2600 go ahead!

[2021-04-12 12:14] #310 closed

[2021-04-13 18:07] ShubhamSj07 opened #325 "🚀 Scrollbar Customization"
**Is your feature request related to a problem? Please describe.**
Default scrollbar is not looking good with ui, i would like to add styles to scrollbar
Please assign me this issue

[2021-04-13 20:32] aryasoni98 commented on #325
@ShubhamSj07 Go Head .

[2021-04-13 20:37] #319 closed

[2021-04-14 12:26] #325 closed

[2021-04-14 16:57] sheetalj2205 opened #328 "Not responsive for iPad"
**Describe the bug**
Home page is not responsive for iPad screen

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the foll

[2021-04-14 17:23] #303 closed

[2021-04-14 17:24] aryasoni98 commented on #328
@sheetalj2205 Go Head

[2021-04-14 17:39] aryasoni98 commented on #222
@CMELAKKIA [Admin Panel](https://drive.google.com/drive/folders/1gIPWSOmH1mkhacaOtjUVRXtX0r5kRSeK?usp=sharing)

[2021-04-15 14:38] hsnice16 opened #329 "Routing on Nav icon and transform size of social handles in footer"
Right now, on the hovering nav icon, the cursor is changing to pointer but on clicking it, nothing happens. So I think on clicking it route should change to '/' (or home page).

And in the footer, on hovering social handlers only the cursor is changing to a pointer type, if we also transform its size then it will look nicer.

[2021-04-15 15:10] sheetalj2205 commented on #302
I am not able to find icon for discord

[2021-04-17 11:21] Anurag5086 commented on #329
@hsnice16 Go ahead

[2021-04-17 11:35] Anurag5086 opened #331 "fix the navbar"
**Describe the bug**

**To Reproduce**

Steps to reproduce the behaviour:
1. Login
2. Look at the Navbar
3. See error

**Error**
![image](https://user-images.githubusercontent.com/54763478/115111532-df475380-9f91-11eb-9a57-15743bf0660f.png)

**Expected**
![image](https://user-images.githubusercontent.com/54763478/115111501-c343b200-9f91-11eb-8662-d4e50f0bb7db.png)

**Screenshots**

[2021-04-17 11:49] Anurag5086 opened #332 "Redesign Feed Page"
Redesign the Feed Page.

Feed Page Design is given below.

![image](https://user-images.githubusercontent.com/54763478/115111929-db1c3580-9f93-11eb-82b3-4fd2c80d1e02.png)
![image](https://user-images.githubusercontent.com/54763478/115111939-f0915f80-9f93-11eb-8352-9ebb7c20c27f.png)

**Advance Filters**
![image](https://user-images.githubusercontent.com/54763478/115111946-099a1080-9f94-11eb-90a9-f9

[2021-04-17 11:56] Anurag5086 opened #333 "Build Single Repository Page"
After logging in, the feed page shows all the open source repositories. This page is for every repository. After clicking a repository card from the feed, the user will be redirected to this page which will display issues, pull request and the discussion section.

Check out the UI design below.

![image](https://user-images.githubusercontent.com/54763478/115112115-f9cefc00-9f94-11eb-9066-a56137b02

[2021-04-17 11:59] Anurag5086 opened #334 "Create Sign in and Sign up Modal"
Check out the UI Design Below.
**Sign In**
![image](https://user-images.githubusercontent.com/54763478/115112250-b3c66800-9f95-11eb-986b-90d04f3016a1.png)

**Sign Up**
![image](https://user-images.githubusercontent.com/54763478/115112256-bcb73980-9f95-11eb-9f56-dd3c5a7470a0.png)

[2021-04-17 12:06] Anurag5086 opened #335 "Redesign Settings Page"
This setting page is displayed for the logged in users from the settings option given in the drop down on the top right of the navbar.

**Basic Information**
![image](https://user-images.githubusercontent.com/54763478/115112414-84fcc180-9f96-11eb-8880-25d4143dca60.png)
**About You**
![image](https://user-images.githubusercontent.com/54763478/115112420-8fb75680-9f96-11eb-94de-e1ad5a07bf21.png)
**So

[2021-04-17 18:28] #318 closed

[2021-04-18 15:09] hsnice16 commented on #329
Please guide me, I am new to next.
Will this work correctly? I am trying to make nav icon a link.
[code]

[2021-04-19 06:16] msk4862 commented on #290
@Siddhant-K-code what's the progress?

[2021-04-19 06:18] msk4862 commented on #306
@umamanasir what's the progress?

[2021-04-19 06:19] msk4862 commented on #307
@neha-baisane what's the progress?

[2021-04-19 06:20] msk4862 commented on #308
@ankit-kmar what's the progress?

[2021-04-19 06:26] msk4862 commented on #328
@sheetalj2205 what's the progress?

[2021-04-19 06:29] sheetalj2205 commented on #328
waiting for my previous PR to get merged. I have solved this problem

[2021-04-19 11:02] aryasoni98 commented on #329
@Anurag5086 Review

[2021-04-19 13:46] SalmaZakaria commented on #334
Please assign this to me
I am GSSOC'21 Participant

[2021-04-19 15:16] Anurag5086 commented on #334
@SalmaZakaria Sure, go ahead!

[2021-04-19 15:25] ankit-kmar commented on #308
yes sir!! actually end sem exams & viva are going on, so will try to do it by tommorow.

[2021-04-19 20:57] #314 closed

[2021-04-20 02:29] Siddhant-K-code commented on #290
Will create a PR, ASAP

[2021-04-20 02:40] sonukushwaha403 commented on #290
Can you please assign it to me, I can create docker file

[2021-04-20 02:55] Siddhant-K-code commented on #290
should i put `report.20200509.210425.6764.0.001.json` in `.dockerignore` also, it's not needed. I guess!

[2021-04-20 03:30] Siddhant-K-code commented on #290
getting this error, while building dockerfile :

[code]

[2021-04-20 03:32] Siddhant-K-code commented on #290
this can be issue :

[code]

[2021-04-20 04:09] Siddhant-K-code commented on #290
File Created and running perfectly fine.

soon will change the docs accr. to it.

[2021-04-20 04:46] Siddhant-K-code commented on #334
currently, "**Sign in with GitHub**" Not Working?

[2021-04-20 06:16] Siddhant-K-code commented on #290
@aryasoni98 or any more collaborators, can you give your docker id, so i can add you as a collaborator for docker image.

[2021-04-20 07:55] aryasoni98 commented on #290
@Siddhant-K-code  Docker ID : `a1s1cmd01`

[2021-04-20 08:06] Siddhant-K-code commented on #290
[This](https://hub.docker.com/u/a1s1cmd01) Collaborator has been added

[2021-04-20 15:46] Anurag5086 commented on #334
Run backend as well

[2021-04-20 16:13] Siddhant-K-code commented on #334
I was talking about `https://codetrophs.io/` . Do I have to run "Backend" for the deployed website also?

[2021-04-21 06:07] msk4862 commented on #317
@shonali2600 what's the progress?

[2021-04-21 07:10] shonali2600 commented on #317
@msk4862 I'm not able to do this, I think that there will be a need for working with the backend also, but I've no idea about the backend. So you can unassign me.

[2021-04-21 15:56] Anurag5086 commented on #329
Yeah this looks good. Make the code properly indented.

[2021-04-22 03:36] hsnice16 commented on #329
Sure

[2021-04-22 04:38] Anuradha0501 commented on #335
I would like to work on this issue as a GSSOC Participant @Anurag5086  can you tell me what to do about it?

[2021-04-22 13:14] shah-harshit commented on #335
I would like to work on this issue @Anurag5086 , can you please tell me what to do ?

[2021-04-22 20:00] Sristi27 commented on #333
Assign it to me

[2021-04-22 20:00] Sristi27 commented on #331
Hello there, I am a Gssoc Participant.Kindly assign this issue to me

[2021-04-22 20:18] aryasoni98 commented on #331
@Sristi27 Go Head 👍🏻

[2021-04-22 20:20] aryasoni98 commented on #333
@Sristi27 first complete #331 then I will assign u .

[2021-04-22 20:22] aryasoni98 commented on #335
@Anuradha0501 Redesign setting page
- [Figma](https://www.figma.com/file/sngnb3JCjxsJpBd052pJQE/CodeTrophs-UI-Design?node-id=0%3A1)
- [Assest](https://drive.google.com/drive/u/1/folders/1oTyR7w1Lx9jT_nJIEO5tOJjZIxL2r8xb)

[2021-04-22 23:39] anniesaxena commented on #306
Hi, can I work on this issue please?

[2021-04-22 23:42] aryasoni98 commented on #306
@anniesaxena Yes, Sure Go Head

[2021-04-23 09:01] Anurag5086 commented on #335
@Anuradha0501 Sure, you have to redesign the settings page which is accessed after logging in.
 @aryasoni98 has provided you with the Figma design and assets. Please refer them.

[2021-04-23 09:03] Anurag5086 commented on #334
Kindly check again. Its working alright.

[2021-04-23 09:11] Anurag5086 commented on #328
@sheetalj2205 What's the progress?

[2021-04-23 09:22] sheetalj2205 commented on #328
my PR got merged but they haven't given me a label.

[2021-04-23 15:54] aryasoni98 opened #340 "error 'goToPrevious' is defined but never used no-unused-vars"
**Describe the bug**
Node CI Action Error `npm run lint`

/home/runner/work/Frontend/Frontend/src/components/Carousel.jsx
Error:   16:12  error  'goToPrevious' is defined but never used  no-unused-vars

**Screenshots**

<img width="1667" alt="Screenshot 2021-04-23 at 9 19 48 PM" src="https://user-images.githubusercontent.com/18515597/115897467-14fca880-a47a-11eb-83c8-04ea3214ec97.png">

[2021-04-24 03:37] Anuradha0501 commented on #335
ok

[2021-04-24 09:06] aryasoni98 commented on #335
@Anuradha0501 Check Figma File

[2021-04-26 07:18] jonathanalvares9009 commented on #340
Can I work on this issue?

[2021-04-26 07:22] aryasoni98 commented on #340
Yes sure, Go Head @jonathanalvares9009

[2021-04-26 07:41] msk4862 commented on #302
Fixed by #330

[2021-04-26 07:41] #302 closed

[2021-04-26 09:09] dishiita commented on #332
Hello @Anurag5086. Is the re-designing of the page to be done in Figma? If yes, I can help with this issue

[2021-04-26 09:33] jonathanalvares9009 commented on #340
@aryasoni98 delete the function or will it be used in the future

[2021-04-26 11:54] Anurag5086 commented on #332
No, it needs to be developed.

[2021-04-26 13:06] msk4862 commented on #340
@jonathanalvares9009 Just commenting it out will be better I think.

[2021-04-26 14:18] jonathanalvares9009 commented on #340
Ok

[2021-04-26 14:46] #340 closed

[2021-04-26 17:53] aryasoni98 commented on #335
@Anuradha0501 any update ?

[2021-04-26 20:07] hsnice16 commented on #329
Please close this issue.

[2021-04-27 03:50] Anuradha0501 commented on #335
I had referred the Figma and assets today I will start writing code and give you further update.

[2021-04-27 06:14] msk4862 commented on #308
@ankit-kmar Any updates?

[2021-04-27 06:22] msk4862 commented on #329
Closes via #339

[2021-04-27 06:22] #329 closed

[2021-04-27 07:00] msk4862 commented on #328
@sheetalj2205 Any updates?

[2021-04-27 07:36] sheetalj2205 commented on #328
I am working on this issue but when I run the project I am getting this error.
![bug](https://user-images.githubusercontent.com/64475191/116203409-4a92e180-a759-11eb-9f57-012f0be41dc5.JPG)
Please fix this so I can complete this bug.

[2021-04-27 07:39] sheetalj2205 commented on #307
I want to work on this issue but can you please explain briefly what changes you want?

[2021-04-27 07:58] msk4862 commented on #328
@sheetalj2205 try running `npm install`

[2021-04-28 11:22] msk4862 commented on #307
![addthis-social-sharing-button-widget](https://user-images.githubusercontent.com/24875366/116395601-f152ad00-a841-11eb-9650-dcc55903b236.png)

@sheetalj2205 something like this in left or right whichever suits more.

[2021-04-28 18:35] Anurag5086 commented on #331
@Sristi27 What's the update?

[2021-04-28 18:39] Anurag5086 opened #349 "minor fixes on homepage"
## 1. Center the Donate us Button.

![image](https://user-images.githubusercontent.com/54763478/116455590-4dcdc080-a872-11eb-8abe-7bd0a1cd39db.png)

## 2. Add a bottom margin to the testimonial component.

![image](https://user-images.githubusercontent.com/54763478/116455746-7f468c00-a872-11eb-9dc5-7b89690e770e.png)

[2021-04-28 19:30] #306 closed

[2021-04-28 21:49] srrathi commented on #331
@Anurag5086 Can you please assign this issue to me i've already solved some of it.
![Screenshot_2021-04-29 React App](https://user-images.githubusercontent.com/57089237/116476993-a2386680-a899-11eb-9f00-4b7b4b323fde.png)

[2021-04-28 22:07] srrathi commented on #349
I've resolved this issue please assign it to me @Anurag5086
![Screenshot_2021-04-29 CodeTrophs - A one spot Destination for your CodeTrophs Contribution Journey](https://user-images.githubusercontent.com/57089237/116478784-41f6f400-a89c-11eb-92ee-981c4e43d765.png)

[2021-04-29 04:47] Anurag5086 commented on #349
@srrathi Cool! Assigned.

[2021-04-29 09:37] aryasoni98 commented on #331
@Sristi27 Any update ? | @srrathi Go Head

[2021-04-29 13:58] srrathi commented on #349
I've resolved the button issue but the testimonial section is looking fine on my machine. You can see it.
![image](https://user-images.githubusercontent.com/57089237/116562705-06ead400-a921-11eb-935a-967340e778ff.png)

[2021-04-29 14:08] srrathi commented on #331
I want to ask do we need About us, Privacy Policy and T&C in navbar of pages other than landing.
![image](https://user-images.githubusercontent.com/57089237/116564292-77462500-a922-11eb-815c-81c68bc04c23.png)

[2021-04-29 14:12] srrathi opened #350 "To add About us, Privacy Policy and T&C in footer rather than in header of all pages other than landing."
**Is your feature request related to a problem? Please describe.**

The navabr is not looking fine with About us, Privacy Policy and T&C in it.

**Describe the solution you'd like**

We can add them in the footer and can make a seperate section for them in the footer which will look much clean.
**Describe alternatives you've considered**

**Additional context**

[2021-04-29 14:12] srrathi commented on #350
If you agree with it please do consider assigning this issue to me.

[2021-04-29 23:35] srrathi commented on #334
@Anurag5086 Please consider assigning this issue to me. I've made some progress in it and just have to change some css according to you design.
![image](https://user-images.githubusercontent.com/57089237/116630817-9a4bf580-a971-11eb-9de0-9df6517e3771.png)

[2021-04-30 01:56] Siddhant-K-code commented on #334
This issue is already assigned to @SalmaZakaria, surely you can work on it after the update!

[2021-04-30 06:18] srrathi commented on #334
Yes you are right @Siddhant-K-code  but I thought as she has not responded from past few days therefore it will be assigned to someone else but it's allright. will wait till the PA and mentor reassign this issue

[2021-04-30 14:39] srrathi commented on #331
@aryasoni98 I need some help so that i can move forward in resolving this issue.

[2021-04-30 17:15] SalmaZakaria commented on #334
@srrathi  I am working on it
Sorry for the late response

[2021-04-30 22:51] aryasoni98 commented on #350
@srrathi  Sure, Go Head

[2021-05-01 04:11] srrathi commented on #331
@aryasoni98 I've fixed the navbar. Please have a look at it. If it's correct I'll send the PR.
![image](https://user-images.githubusercontent.com/57089237/116770406-5d5f2c00-aa61-11eb-8917-893f847bf032.png)

[2021-05-01 06:08] msk4862 commented on #331
@srrathi Yes, go ahead create a PR.

[2021-05-01 08:19] Anurag5086 commented on #349
Sure make a PR.

[2021-05-01 08:20] Anurag5086 commented on #335
@Anuradha0501 What's the update?

[2021-05-01 08:22] Anurag5086 commented on #334
@SalmaZakaria Cool, just add a screenshot of your progress.

[2021-05-01 08:22] Anurag5086 commented on #334
@srrathi Looks good, but let's wait for @SalmaZakaria

[2021-05-01 10:05] srrathi commented on #331
Okk I'll Send PR by today.

[2021-05-01 11:17] srrathi commented on #331
@aryasoni98 @msk4862 I've raised PR regarding it [PR #351](https://github.com/CodeTrophs/Frontend/pull/351). Please review and merge it.

[2021-05-01 11:26] srrathi commented on #349
okk I'll make one by EOD.

[2021-05-01 11:36] SalmaZakaria commented on #334
@srrathi I will unassign myself and look for another issue to let you be assigned to this one as you have achieved more than me in it
Good Luck

[2021-05-01 16:59] srrathi commented on #349
@Anurag5086 I've raised a PR solving this issue. Please merge it. You can see it [PR #352](https://github.com/CodeTrophs/Frontend/pull/352)

[2021-05-01 17:14] srrathi commented on #350
@aryasoni98 I need some help regarding the placement of these three in the footer. I mean help in the design part how you want it to look like or do you have any design suggestion for it. What I'm thinking is to make 3 columns in footer first column will contain these important links, second column will contain any office address and contact info like mail if we have them and third column will con

[2021-05-01 17:31] Anurag5086 commented on #349
Sure!

[2021-05-01 17:33] Anurag5086 commented on #334
@srrathi You can go ahead with this after the other 2 PR's of yours are merged.

[2021-05-01 17:34] Anurag5086 commented on #334
@SalmaZakaria Its alright. There is nothing to worry. You can take on with this issue if you want.

[2021-05-01 17:42] #328 closed

[2021-05-01 20:06] srrathi commented on #334
yes @SalmaZakaria you can.

[2021-05-02 11:14] srrathi commented on #350
Is it Okay @aryasoni98 @Anurag5086
![image](https://user-images.githubusercontent.com/57089237/116811211-aac4c180-ab65-11eb-8942-501906dbdded.png)

[2021-05-02 13:06] aryasoni98 commented on #350
@srrathi So wait I will send u the footer design

[2021-05-02 13:32] aryasoni98 commented on #350
Please update the last line of the footer to the given UI. Place about us, terms, and policy in one line and copyright to the next line. Both the line should be center-aligned.

![1](https://user-images.githubusercontent.com/18515597/116814928-cdaca100-ab78-11eb-9f68-91e394079772.jpeg)

**Like this**  @srrathi

[2021-05-02 14:34] srrathi commented on #331
I'm sorry things got a bit messy in previous PR. I've raised a new PR resolving all the issues for this. Its [PR #353](https://github.com/CodeTrophs/Frontend/pull/353)

[2021-05-02 14:50] srrathi commented on #349
@Anurag5086 @aryasoni98 @msk4862 I'm sorry the previous PR got some messy, I've raised a new one [PR #354](https://github.com/CodeTrophs/Frontend/pull/354) You can review it.

[2021-05-02 15:01] srrathi commented on #350
@aryasoni98 I'm not able to see any image on my github account. I've messaged you on Discord can you please send me this design there.

[2021-05-03 14:31] sheetalj2205 commented on #307
Okay! I will work on this.

[2021-05-03 18:22] #349 closed

[2021-05-03 20:26] srrathi commented on #350
@aryasoni98 Is it Fine. Should I send the PR.
![image](https://user-images.githubusercontent.com/57089237/116929290-d6d26680-ac7b-11eb-9d56-f7b8f8da9c7f.png)
![image](https://user-images.githubusercontent.com/57089237/116929357-eea9ea80-ac7b-11eb-94af-be2b190e200f.png)

[2021-05-03 20:42] srrathi commented on #334
@Anurag5086 Can I work on this issue now?

[2021-05-03 22:51] aryasoni98 commented on #334
@srrathi Yes sure ...

[2021-05-03 22:53] aryasoni98 commented on #350
Yes sure @srrathi But icon should be centre in mobile view .

[2021-05-04 05:47] msk4862 commented on #307
@sheetalj2205 Go ahead

[2021-05-04 10:08] srrathi commented on #350
okay will do that and send PR by EOD.

[2021-05-04 10:13] srrathi commented on #334
I want to ask, do I have to do the  frontend part only and leave the gitlab and google button as it is and link them later on when we will add backend to login with them or I've to integrate login with them functionality.

[2021-05-04 14:29] sheetalj2205 commented on #307
![bg](https://user-images.githubusercontent.com/64475191/117019587-2a43c380-ad13-11eb-9bf2-aad98c537c36.JPG)
![bug](https://user-images.githubusercontent.com/64475191/117019595-2c0d8700-ad13-11eb-8491-04fdd4a3669f.JPG)

I am getting this problem on committing.

[2021-05-04 14:37] anirudhsai20 opened #355 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project was listed in.

[2021-05-04 14:37] anirudhsai20 commented on #355
Hi! Please assign this issue to me under GSSOC.

[2021-05-05 06:44] msk4862 commented on #307
@sheetalj2205 Have you done any changes in `AboutUs.jsx` file?

[2021-05-05 06:45] sheetalj2205 commented on #307
Yes because I am inserting sidebar in that

[2021-05-05 15:14] srrathi commented on #350
@aryasoni98 Is it okk Now. Should I send the PR.
![image](https://user-images.githubusercontent.com/57089237/117164933-afe27480-ade2-11eb-8b2c-71704e4d6f94.png)
![image](https://user-images.githubusercontent.com/57089237/117164848-9fca9500-ade2-11eb-9148-61b06a0162c0.png)

[2021-05-05 15:31] msk4862 commented on #307
@sheetalj2205 I think you maybe be missing a `aria-label` attribute in button or icon. Use [this](https://stackoverflow.com/questions/58367013/a-control-must-be-associated-with-a-text-label) for reference.

[2021-05-05 16:30] aryasoni98 commented on #350
@srrathi  Yes Sure.

[2021-05-05 18:56] srrathi commented on #334
@aryasoni98 Can you please tell me on which page we have to show this modal. So that I can add it on it.

[2021-05-05 21:29] aryasoni98 commented on #334
You have to integrate login with them functionality .

[2021-05-05 21:30] aryasoni98 commented on #334
Landing Page and also remove or rename GitHub login to get start button

[2021-05-05 23:11] srrathi commented on #334
I'll integrate the github function for login but the one with gitlab and google that involve backend work.How will i do that?

[2021-05-06 11:13] #331 closed

[2021-05-06 15:40] srrathi commented on #288
@msk4862 Can I work on this issue?

[2021-05-06 16:07] msk4862 commented on #288
@srrathi Sure! Go ahead.

[2021-05-07 09:45] aryasoni98 commented on #335
@SpecTEviL Yes Sure .

[2021-05-07 20:21] #350 closed

[2021-05-09 11:32] #355 closed

[2021-05-09 14:58] srrathi commented on #288
@msk4862 @aryasoni98 Do I've to change something in it or should I send the PR.

[2021-05-09 15:04] msk4862 commented on #288
@srrathi Go ahead and create a PR.

[2021-05-09 15:05] msk4862 commented on #307
@sheetalj2205 any updates?

[2021-05-11 15:55] srrathi commented on #288
@msk4862 I've raised the PR please review it.

[2021-05-13 20:46] harshita2319 commented on #332
Hey, I'd like to work on this issue!

[2021-05-14 13:17] aryasoni98 commented on #332
@harshita2319 Go Head

[2021-05-17 17:51] #307 closed

[2021-05-21 13:29] sheetalj2205 commented on #333
I want to work on this issue but first I want help from the mentors to set up the backend part.

[2021-05-22 07:03] aryasoni98 commented on #333
@sheetalj2205 Yes Sure . Mentor @Anurag5086 @Dishebh

[2021-05-22 08:36] Dishebh commented on #333
Sure @sheetalj2205 let me know what can I help you with to get you started

[2021-05-23 12:15] Anurag5086 commented on #333
Sure @sheetalj2205 connect with me!

[2021-05-24 12:38] subhangi2731 commented on #334
@Anurag5086 can I work on this please

[2021-05-24 12:40] subhangi2731 commented on #211
@aryasoni98 please assign this issue to me

[2021-05-24 12:40] subhangi2731 commented on #290
@aryasoni98 please assign me this issue

[2021-05-24 12:42] subhangi2731 commented on #241
@aryasoni98 please assign me this issue

[2021-05-24 12:43] subhangi2731 commented on #257
@aryasoni98 please assign me this issue

[2021-05-24 14:47] aryasoni98 commented on #211
@subhangi2731 Sure

[2021-05-24 14:48] aryasoni98 commented on #334
@subhangi2731 Yes sure

[2021-05-24 14:49] aryasoni98 commented on #290
@subhangi2731  Sure

[2021-05-24 14:50] aryasoni98 commented on #257
@subhangi2731  sure

[2021-05-25 00:23] Siddhant-K-code commented on #290
@aryasoni98 IDK what you guys are doing the PR was open for so long but no response :(

[2021-05-25 00:32] aryasoni98 commented on #290
@Siddhant-K-code  bcz I don't know about docker and how it's work. Currently I'm learning stage.  Just reopen the PR and one of GSSoC mentors review asap . . .First priority @msk4862 @pinkman7009 @Anurag5086

[2021-05-25 00:35] #288 closed

[2021-05-29 15:34] Anmolreshi opened #365 "Footer Styling and adding effects"
hi !
I want to work on redesigning the footer of website . I would not change the basic layout of it but add more styling and effects into this .Kindly assign me this issue, so that I would work on this as soon as possible .

[2021-06-02 05:55] aryasoni98 commented on #365
@Anmolreshi Sure , Go Head

[2021-06-02 14:42] Anmolreshi commented on #365
I have pulled a request kindly check it .

[2021-06-27 17:15] shreyshreyansh opened #367 "webpage is not opening"

[2021-06-30 20:14] aryasoni98 commented on #367
@shreyshreyansh  landing page ?

[2021-07-23 15:27] aryasoni98 commented on #367
Yes, I know
I just shut down the project for sometime.

[2021-09-02 13:32] Gulshanaggarwal opened #370 "Css issue when Webpage loads"
Global CSS cannot be imported from files other than your Custom <App>. Due to the Global nature of stylesheets, and to avoid conflicts, Please move all first-party global CSS imports to pages/_app.js.

![Screenshot (155)](https://user-images.githubusercontent.com/58553401/131852595-9598216f-377b-4b63-abd6-40997fe7bddf.png)

[2021-09-02 13:33] Gulshanaggarwal commented on #370
@aryasoni98  can I start working upon this issue.

[2021-09-13 16:22] SriSatyaT opened #371 "repo url on versel app isn't working."
**Describe the bug**

The link isn't redirecting to the website. Stating page isn't found.

**To Reproduce**

Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone

[2021-10-10 00:32] malaktayeh commented on #370
@Gulshanaggarwal, I want to share that I had the same issue at first.  When I ran ```npm update```, the error message was gone.